<h1 class="title" >Publicar servicio</h1>

<div class="publicar-servicio">
    <div class="publicar-servicio__foto">
        <img src="../../assets/paseador_foto.jpeg" alt="">
        <button mat-raised-button color="warn">Crear Perfil</button>


    </div>
    <div class="publicar-servicio__form">
        <div class="inputs-container">

            <mat-form-field style="display: flex" class="chld" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field style="display: flex" class="chld" appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        
        
        <mat-form-field style="display: flex;" appearance="fill">
            <mat-label>Ubicacion</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="inputs-container" style="justify-content: center; gap: 80px; margin-bottom: 20px;">
            
            <mat-slide-toggle >Paseador</mat-slide-toggle>
            <mat-slide-toggle>Adiestrador</mat-slide-toggle>
        </div>

            <mat-form-field style="display: flex;" appearance="fill">
                <mat-label>Informacion Adicional</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
              
        
    </div>
</div>
