
<div class="toolbar-content">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>HappyTails</span>
    <span class="example-spacer"></span>
    <span>Inicio</span>
    <span class="spacer"></span>
    <span>Buscar un servicio</span>
    <span class="spacer"></span>
    <span>Publicar un servicio</span>
    <span class="spacer"></span>
    <span>Ayuda</span>
    <span class="spacer"></span>
    <app-exp-panel-content></app-exp-panel-content>
  </mat-toolbar>

</div>

