
<div class="LandingPage">
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing-page.component.css" />
    <title>HappyTails</title>
  </head>
  <body>
  <header class="header">
    <section class="header-container">

    </section>
  </header>
  <main>

    <section id="presentacion" class="presentation-section">
      <div class="presentation">
        <img class="presentation__img" src="../../assets/images/Hero_img.webp" alt="" />
        <div class="presentation__info">
          <h1 class="">Consiente a tu engreído con los expertos</h1>
          <p class="">
            Con HappyTails estate seguro de recibir un servicio de profesionales o expertos para adiestrar y pasear.
          </p>
          <div class="presentation__form">
            <div>
              <div class="presentation__form__radio">
                <div>
                  <h4>Paseador</h4>
                  <p>Un experto lleva a tu mascota a pasear</p>
                </div>
                <input type="radio" />
              </div>
              <div class="presentation__form__radio">
                <div>
                  <h4>Adiestrador</h4>
                  <p>Clase de adiestramiento para su mascota</p>
                </div>
                <input type="radio" />
              </div>

            </div>
            <div>
              <input
                placeholder="Ingrese la direccion"
                class="form__input"
                type="text"
              />
              <input
                placeholder="Ingrese la fecha"
                class="form__input"
                type="date"
              />
              <button class="button__primary">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="acerca-de-nosotros" class="about-us-app-section">
      <div class="about-us-app">
        <h2 style="font-size: 3.6rem;">Características</h2>
        <div>
          <div class="about-us-app__item">
            <img src="../../assets/images/icono_direccion.svg.url" alt="" />
            <h3>Usa la aplicación en cualquier lugar</h3>
            <p>
              Asegúrate de tener siempre la aplicación en tu dispositivo para poder programar y dar seguimiento al servicio de tu mascota.
            </p>
          </div>
          <div class="about-us-app__item">
            <img src="../../assets/images/telefono.svg.url" alt="" />
            <h3>Sincroniza tus datos con tus cuentas</h3>
            <p>
              Es posible emplear las cuentas de redes sociales tales como Google o Facebook para iniciar sesión en una aplicación o sitio web.
            </p>
          </div>
          <div class="about-us-app__item">
            <img src="../../assets/images/calendario.svg" alt="" />
            <h3>Programa tus servicios con éxito</h3>
            <p>
              Refina tu búsqueda de servicios con nuestros filtros para elegir cómo y cuándo deseas recibir el servicio que necesitas.
            </p>
          </div>
          <div class="about-us-app__item">
            <img src="../../assets/images/icono_lupa.svg.url" alt="" />
            <h3>Selecciona e infórmate</h3>
            <p>
              Tendrás acceso a suficiente información sobre los profesionales y expertos en la materia que necesitas, para que puedas tomar una decisión informada.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="nuestro-proyecto" class="about-us-section">
      <div class="about-us">
        <div class="about-us__info">
          <p>
            Somos una startup conformada por estudiantes universitarios de la Universidad Peruana de Ciencias Aplicadas, que surgió en 2023 con el propósito de facilitar el proceso de búsqueda de cuidadores, adiestradores y paseadores de mascotas confiables, mediante el uso de tecnologías innovadoras disponibles en nuestra época.
          </p>
          <h2>Quienes somos</h2>
        </div>
        <div class="about-us__app">
          <div class="about-us__app__text">
            <h3>Descarga la App</h3>
            <p>
              Descarga nuestra app y empieza a engreir a tu consentido desde
              la comodidad de tu movil. Disponible para descargar en las
              principales tiendas digitales
            </p>
          </div>
          <div class="about-us__app__links">
            <img src="../../assets/images/playStore.png" alt="" />
            <img src="../../assets/images/appStore.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="contactanos" class="contact-section">
      <div class="contact">
        <div class="contact__info">
          <h3>Contactanos</h3>
          <ul>
            <li> <img src="../../assets/images/phone_icon.png" alt="">  956-345-234</li>
            <li> <img src="../../assets/images/mail.svg" alt=""> HappyTails@mail.com</li>
          </ul>
        </div>

        <form class="contact-us__form" action="">
          <div>

            <input class="form__input" placeholder="Nombre" type="text"  />
            <input class="form__input" placeholder="Apellido Paterno" type="text"  />
          </div>
          <div>

            <input class="form__input" placeholder="Apellido Materno" type="text"  />
            <input class="form__input" placeholder="DNI" type="number"  />
          </div>
          <div>

            <input class="form__input" placeholder="Teléfono/Celular" type="tel"  />
            <input class="form__input" placeholder="Correo" type="email"  />
          </div>
          <textarea
            class="form__input"
            placeholder="Asunto"
            cols="30"
            rows="10"
          ></textarea>
          <button class="button__primary">Enviar</button>
        </form>
      </div>
    </section>


  </main>
  </body>
  </html>

</div>
